  .cards{
    margin: 0;
    padding: 0;
    width: 920px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
  }

  .cards__description{
    margin: 0;
    padding: 0;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
  }
  
  .cards__image{
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-bottom: 43px;
  }
  
  .cards__item{
    margin: 0;
    padding: 0;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cards__title{
    margin: 0;
    padding: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
  }