  .feynman{
    width: 100%;
    min-height: 790px;
    background-image: url(../images/feynman.png);
    align-items: center;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    background-size: 867px 637px;
    background-position: left bottom;
    padding-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .feynman__title{
    margin: 0;
    padding: 0;
    width: 775px;
    line-height: 1.15;
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center;
  }
  
  .feynman__subtitle{
    margin: 0;
    padding: 0;
    height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
  }
  
  .feynman__link{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    transition: opacity .3s ease;
  }
  .feynman__link:hover {
    opacity: .7;
  }
  