.footer{
    width: 100%;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 40px;
    color:#fff;
  }
  
  .footer__author{
    margin: 0;
    padding: 0;
    color: white;
    padding: 18px 0px;
  }
  
  .footer__content{
    width: 90%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }