.header {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    min-height: 600px;
    max-height: 756px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    align-items: center;
  }
  
  .header__title {
    margin: 0;
    padding: 0;
    max-width: 730px;
    align-self: center;
    margin-left: 64px;
    font-size: 102px;
    line-height: 96px;
    font-weight: 600;
    z-index: 1;
  }
  
  .header__subtitle {
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  .header__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #2f80ed;
    font-size: 18px;
    line-height: 25px;
    transition: opacity 1s ease;
  }
  
  .header__link:hover {
    opacity: .7;
  }
  
  .header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .header__square-pic {
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
  }