.header__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #2f80ed;
    font-size: 18px;
    line-height: 25px;
    transition: opacity 1s ease;
  }
  
  .header__link:hover {
    opacity: .7;
  }