  .two-columns{
    width: 80%;
    padding: 100px 10%;
    display: flex;
    justify-content: space-between;
    min-width: 784px;
  }
  
  .two-columns__brief{
    margin: 0;
    padding: 0;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    color: #2f80ed;
    font-weight: normal;
  }
  
  .two-columns__main-text{
    margin: 0;
    padding: 0;
    width: 80%;
  }
  
  .two-columns__paragraph{
    margin: 0;
    padding: 0;
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .two-columns__paragraph:last-child{
    margin-bottom: 0;
  }
  
  .two-columns__span-accent{
    font-weight: 600;
  }